asgiref==3.5.2
attrs==22.1.0
backports.zoneinfo==0.2.1
Django==4.0
exceptiongroup==1.0.4
ez-setup==0.9
iniconfig==1.1.1
packaging==21.3
pluggy==1.0.0
psycopg2==2.9.5
pyparsing==3.0.9
pytest==7.2.0
sqlparse==0.4.3
tomli==2.0.1
